<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weipeng.andemos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceDemo.ServiceDemoActivity" />

        <service
            android:name=".ServiceDemo.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ServiceDemo.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".BroadcastDemo.BroadcastDemoActivity"
            android:label="@string/title_activity_broadcast_demo" />
        <activity android:name=".DatabaseDemo.DatabaseDemoActivity">
        </activity>
        <activity
            android:name=".Camera1Demo.Camera1DemoActivity"
            android:label="@string/title_activity_camera1_demo">

        </activity>
    </application>

</manifest>